* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

body {
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 35px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.navbar a:hover {
    color: white;
    text-shadow: 0 0 15px white;

}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: #3A5F0B;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.profile_pic {
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
    image-resolution: 100%;
    display: flex;
    margin-right: 150px;
    box-shadow: 0 0 100px lightgreen;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-content {
    max-width: 600px;
    color: white;
    line-height: 64px;
    justify-content: space-between;
    align-items: center;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    
}

.home-content h3:nth-of-type(1) {
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.home-content h3 span{
    font-size: 32px;
    font-weight: 700;    
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
}

.home-content p {
    width: px;
    font-size: 20px;
    font-style: italic;
    line-height: 32px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 15px;
    color: white;
    text-decoration: none;
    margin: 30px 15px 30px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var);
}
@keyframes slideTop {
    0% {
      transform: translateY(100px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }
  .home-content a:hover{
    color: white;
    box-shadow: 0 0 25px white;
  }
  .btn-box{
    display: inline-block;
    padding: 2px 28px;
    background: #65794a;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.3s;
  }
  .btn-box:hover{
    box-shadow: 0 0 25px white,
    0 0 25px white, 0 0 50px white,
    0 0 100px white, 0 0 200px white,
  }