* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

body {
    color: #ededed;
    background: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: min-content;
    padding: 20px 10%;
    background: #3A5F0B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}


.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.logo:hover {
    color: white;
    text-shadow: 0 0 15px white;

}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.navbar a {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 60px;
    transition: .5s;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

.navbar a:hover {
    color: white;
    text-shadow: 0 0 15px white;

}

.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: #3A5F0B;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 30px 10% 0;
}

.profile_pic {
    width: 450px;
    height: 450px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
    image-resolution: 100%;
    display: flex;
    margin-right: 150px;
    box-shadow: 0 0 100px lightgreen;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-content {
    max-width: 600px;
    color: white;
    line-height: 64px;
    justify-content: space-between;
    align-items: center;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;

}

.home-content h3:nth-of-type(1) {
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1.2s;
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.home-content h3 span {
    font-size: 32px;
    font-weight: 700;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    width: px;
    font-size: 20px;
    font-style: italic;
    line-height: 32px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background: transparent;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 32px;
    color: white;
    text-decoration: none;
    margin: 30px 15px 30px;
    transition: .5s ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.home-content a:hover {
    color: white;
    box-shadow: 0 0 25px white;
}

.btn-box {
    display: inline-block;
    padding: 2px 28px;
    background: #65794a;
    border-radius: 40px;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.3s;
}

.btn-box:hover {
    box-shadow: 0 0 25px white,
        0 0 25px white, 0 0 50px white,
        0 0 100px white, 0 0 200px white
}

.title {
    color: black;
    font-size: 32px;
    margin-top: 10%;
    margin-left: 10%;
}

.projects1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    height: 900px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.projects1-img img {
    width: 450px;
    height: 450px;
    margin-top: 35%;
    margin-left: 25%;
    object-fit: cover;
    border-radius: 50% 20% / 10% 40%;
    border: 3px solid white;
    image-resolution: 100%;
    display: flex;
    margin-right: 150px;
    box-shadow: 0 0 50px black;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    margin-bottom: 2%;
}

.projects1-text {
    margin-right: 100px;
}

.projects1-text h1 {
    color: #3A5F0B;
    font-size: 80px;
    margin-top: 20%;
}

.projects1-text h3 {
    font-size: 29px;
    font-weight: 600;
    color: #3A5F0B;
    line-height: 1.7;
    margin: 15px 0 3px;
    font-style: italic;
}

.projects1-text p {
    font-style: italic;
    color: black;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 1rem;
}

.btn-box-link {
    display: inline-block;
    padding: 12px 28px;
    background: #3A5F0B;
    border-radius: 40px;
    font-size: 18px;
    color: white;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.3s;
}

.btn-box-link:hover {
    box-shadow: 0 0 20px #3A5F0B;
}

.projects2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    height: 750px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.projects2-text {
    margin-left: 110px;
    margin-top: 10%;
}

.projects2-text h1 {
    font-size: 80px;
    margin-top: 20%;
}


.projects2-text h3 {
    font-size: 29px;
    font-weight: 600;
    color: #3A5F0B;
    line-height: 1.7;
    margin: 15px 0 3px;
    font-style: italic;
}

.projects2-text p {
    font-style: italic;
    color: black;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 1rem;
}

.projects2-img img {
    width: 450px;
    height: 450px;
    margin-top: 5%;
    margin-left: 15%;
    object-fit: cover;
    border-radius: 50% 20% / 10% 40%;
    border: 3px solid white;
    image-resolution: 100%;
    display: flex;
    margin-right: 150px;
    box-shadow: 0 0 50px black;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.projects3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
    height: 600px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    margin-bottom: 150px;

}

.projects3-img img {
    width: 450px;
    height: 450px;
    margin-top: 15%;
    margin-left: 25%;
    object-fit: cover;
    border-radius: 50% 20% / 10% 40%;
    border: 3px solid white;
    image-resolution: 100%;
    display: flex;
    margin-right: 150px;
    box-shadow: 0 0 50px black;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
    margin-bottom: 2%;
}

.projects3-text {
    margin-right: 100px;
}

.projects3-text h1 {
    font-size: 80px;
    margin-top: 20%;
}

.projects3-text h3 {
    font-size: 29px;
    font-weight: 600;
    color: #3A5F0B;
    line-height: 1.7;
    margin: 15px 0 3px;
    font-style: italic;
}

.projects3-text p {
    font-style: italic;
    color: black;
    font-size: 20px;
    line-height: 2;
    margin-bottom: 1rem;
}

.certs {
    background-color: #3A5F0B;
    padding-top: 20px;
    width: auto;
    padding-bottom: 75px;
}

.certs-text {
    padding: 15px 5% 0%;
    line-height: 25pt;
    margin-bottom: 2rem;
}

.certs-text h1 {
    font-size: 80px;
    padding-bottom: 75px;
    padding-top: 100px;
}

.certs-text h3 {
    font-size: 32px;
    padding-bottom: 25px;
}

.certs-text p {
    font-size: 20px;
    font-style: italic;
    word-spacing: 25%;
}

.btn-box-certs {
    display: inline-block;
    padding: 12px 28px;
    background: #65794a;
    border-radius: 10% / 50%;
    font-size: 18px;
    font-style: italic;
    color: white;
    letter-spacing: 1.5px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.3s;
}

.btn-box-certs:hover {
    box-shadow: 0 0 25px white;
}

.workEx {
    width: auto;
    /* margin-top: 5%; */
    padding-bottom: 75px;
    /* padding-left: 80px;  */
    color: black;
}

.workEx-text {
    padding: 15px 5% 0%;
    line-height: 25pt;
    margin-bottom: 2rem;
}

.workEx-text h1 {
    font-size: 80px;
    color: #3A5F0B;
    padding-bottom: 75px;
    padding-top: 100px;
}

.workEx-text h3 {
    color: #3A5F0B;
    font-size: 32px;
    padding-bottom: 25px;
}

.workEx-text p {
    font-size: 20px;
    font-style: italic;
    /* color: black; */
    word-spacing: 25%;
}

.rd-grid {
    display: grid;
    row-gap: 0.6rem;
    column-gap: 1.5rem;
}
.rd-container {
    max-width: 2024px;
    padding-left: 70px;
    padding-right: 70px;
    width: calc(100% - 2rem);
}

.section {
    padding-top: 3rem;
}
.section-title{
    text-align: center;
    font-size: 40px;
    color: #3A5F0B;
}
.section-subtitle {
    text-align: center;
    display: block;
    font-size: 16px;
    font-weight: 300;
    color: #3A5F0B;
}
.divider-custom {
    margin: 0.3rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider-custom-line {
    width: 100%;
    max-width: 7rem;
    height: .25rem;
    background-color: var(--first-color);
    background-color: #3A5F0B;
    border-radius: 1rem;
    border-color: var(--first-color);
}
.divider-custom-icon {
    color: #3A5F0B;
    font-size: 2rem;
}
.contact{
    padding-top: 175px;
    align-items: center;
    padding-bottom: 100px;
}
.contact__container {
    row-gap: 2.5rem;
}
.contact__content {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    /* grid-template-columns: repeat(3, 200px); */
}
.contact__box {
    background-color: #FFF;
    border-radius: .5rem;
    padding: 1.5rem;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.contact__icon {
    font-size: 2rem;
    color: #3A5F0B;
}

.contact__title{
    color: #3A5F0B;
    font-size: 20px;
}
.contact__description {
    word-wrap: break-word;
    color: #3A5F0B;
    font-weight: 200;
}
.socials{
    padding-bottom: 75px;
}
.socials__container {
    display: flex;
    justify-content: space-evenly;
}
.socials__box {
    padding-bottom: 0.5rem;
}
.socials__social-icon {
    font-size: 64px;
    color: #3A5F0B;
    padding-left: 50px;
    padding-right: 50px;
    transition: .3s;
}
.socials__social-icon:hover {
text-shadow: 0 0 5px #3A5F0B;
}
.footer{
    background: #3A5F0B;
    width: auto;
}
.footer-text h1{
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
}
.footer-text h3{
    padding-top: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}
.footer-text p{
    padding-top: 25px;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    padding-bottom: 25px;
}
